.cursor-underline{
    cursor:pointer;
    text-decoration: underline;
}

.login{
    background-image: url('../../../assets/dddfff.jpg');
    background-repeat: no-repeat;
    background-size:100vw;
    height:100vh;
    overflow:hidden;
}