<div class="card border-primary bg-primary-subtle p-5 mt-100">
    <div class="d-flex align-items-center">
        <i class="bi bi-person-circle fs-3"></i>
        <h2>Customer Details</h2>
    </div>
    <div class="d-flex align-items-center">
        <i class="bi bi-telephone-fill"></i>
        <h4>{{currentCustomer.mobile}}</h4>
    </div>
    <div class="d-flex align-items-center">
        <i class="bi bi-person-vcard-fill"></i>
        <h4>{{currentCustomer.fullname}}</h4>
    </div>
    <div class="d-flex align-items-center">
        <i class="bi bi-envelope-at-fill"></i>
        <h4>{{currentCustomer.email}}</h4>
    </div>
    <div class="d-flex align-items-center">
        <i class="bi bi-geo-alt-fill"></i>
        <h4>{{currentCustomer.address}}</h4>
    </div>
</div>