<div class="card border-primary bg-primary-subtle p-5 mt-100">
    <div class="d-flex align-items-center">
        <i class="bi bi-building-fill-gear fs-3"></i>
        <h2>Business Details</h2>
    </div>
    <div class="d-flex align-items-center">
        <i class="bi bi-briefcase-fill"></i>
        <h4>{{currentBusiness.businessName}}</h4>
    </div>
    <div class="d-flex align-items-center">
        <i class="bi bi-telephone-fill"></i>
        <h4>{{currentBusiness.primaryMobile}}</h4>
    </div>
    <div class="d-flex align-items-center">
        <i class="bi bi-envelope-at-fill"></i>
        <h4>{{currentBusiness.email}}</h4>
    </div>
    <div class="d-flex align-items-center">
        <i class="bi bi-clipboard2-check-fill"></i>
        <h4>{{currentBusiness.plans.length}} plans</h4>
    </div>
    <div class="d-flex align-items-center">
        <i class="bi bi-gear-fill"></i>
        <h4>{{currentBusiness.services.length}} services</h4>
    </div>
    <div class="d-flex align-items-center">
        <i class="bi bi-people-fill"></i>
        <h4>{{currentBusiness.customers.length}} customers</h4>
    </div>


</div>